<div class="container">
    <div class="row text-center">

        <div class="col-md-12">
            <h2>Polyalphabetic Cipher</h2>
            <br>
            <mat-card>
                <mat-vertical-stepper #stepper>
                    <mat-step>
                        <ng-template matStepLabel>Fill out Key and Message</ng-template>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Set key" name="keyInput" [(ngModel)]="key"
                                maxlength="15">

                        </mat-form-field>
                        <br>
                        <mat-form-field style="width:50vw">
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="2" cdkAutosizeMaxRows="9" placeholder="Type message to encrypt"
                                name="messageInput" minlength="6" [(ngModel)]="message"></textarea>
                        </mat-form-field>
                        <br>

                        <button mat-stroked-button color="primary" (click)="enDeCryptMessage()">En/Decrypt Text</button>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Show Encrypted and Decrypted Message</ng-template>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>Encrypted Text</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content style="word-wrap: break-word;">
                                        <span *ngFor="let letter of encMessageSplitted; let i = index"
                                            [style.color]="colors[i%keyLength]">
                                            {{letter}}
                                        </span>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-6">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>Dencrypted Text</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content style="word-wrap: break-word;">
                                        <p>
                                            {{decryptedText}}
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>



                    </mat-step>

                    <br>
                    <mat-step>
                        <ng-template matStepLabel>Show IC for different length of key</ng-template>
                        <br>
                        <br><br>
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert">
                                <!-- <span>The best Index of coincidence is: {{highestIC | number:'1.0-4'}}</span> -->
                                <span>The best lengths of key are: </span>
                                <p *ngFor ="let index of highestIC " >
                                    <span >{{index.box}} </span>
                                    <span>with IC {{index.value | number:'1.0-4'}}</span>
                                </p >
                            </div>
                        </div>
                        <br>
                        <div class="container text-center col-md-12" >
                            <b>Choose length of key</b>
                            <br><br>
                            <div class="row ">

                                <mat-button-toggle-group [(ngModel)]="selectedValue">
                                    <mat-button-toggle *ngFor="let item of toggleOptions;"
                                        (change)="selectionOfGraphChanged($event)" [value]="item">
                                        {{item}}
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <br>
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-md-11">
                                            <div *ngIf="passedMinIc; else notPassed" class="alert alert-danger"
                                                role="alert">
                                                <strong>Input text is not from language</strong>
                                                <br>
                                                <span>Avarage Index of coincidence for all boxes is:
                                                    {{ic.value | number:'1.0-4'}}</span>
                                                <br>
                                            </div>
                                            <ng-template #notPassed>
                                                <div class="alert alert-success" role="alert">
                                                    <span>Avarage Index of coincidence for all boxes is:
                                                        {{ic.value | number:'1.0-4'}}</span>
                                                    <br>
                                                </div>
                                            </ng-template>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-sm-3 box" *ngFor="let box of allBoxes[selectedValue-2]; let j = index">
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Box {{j + 1}}</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content style="word-wrap: break-word;">
                                                <span [style.color]="colors[j%selectedValue]">
                                                        {{box}}
                                                </span>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                IC for box is: {{allBoxesIc[selectedValue - 2][j] | number:'1.0-4'}}
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Compute all combinations for key</ng-template>
                    </mat-step>

                </mat-vertical-stepper>
            </mat-card>

        </div>

    </div>
</div>