<mat-sidenav-container class="col-md-10 offset-md-1 mode-down">
    <mat-sidenav
    #sidenav
    mode="side"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="210"
    class="col-md-2 side-nav"
  
    >

  <ol >
    <li  class="btn-side-navbar col-md-12"  (click)="scroll(menu, i)"
        *ngFor="let menu of sideMenu, let i = index"
        [class.active]="selectedIndex === i" >
      <a>{{ menu.title }}</a>
    </li>
  </ol>

  <!-- <ol class="number-circle-list number-circle-list--primary-color">
    <li class="number-circle-list--list-item">Ordered list - first list item</li>
    <li class="number-circle-list--list-item">Ordered list - second list item</li>
    <li class="number-circle-list--list-item">Ordered list - third list item</li>
</ol> -->
    </mat-sidenav>
    <mat-sidenav-content class="remove-left-margin col-md-10">
      <ng-content>
      </ng-content>
     
    </mat-sidenav-content>
  </mat-sidenav-container>
