<div class="fixed" id="header">
  <nav
    class="navbar main-navbar navbar-expand-lg navbar-dark bg-dark bg-navbar-blue"
  >
    <div class="col-md-10 offset-md-1">
      <div class="align-main-navbar">
        <a class="navbar-brand" href="#">
          <img
            class=""
            src="../../../assets/img/caesarCipherLogoWhite.png"
            width="40"
            height="40"
            alt=""
          />
          <span>Clasical Ciphers</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-toogle collapse navbar-collapse"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Ciphers
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" routerLink="/caesarcipher"
                    >Caesar Cipher</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/transpositioncipher"
                    >Transposition Cipher</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/polyalphcipher"
                    >Vigenere Cipher</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/monoalphcipher"
                    >Simple Substitution Cipher</a
                  >
                </li>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div
    *ngIf="showInfoPanel"
    class="cipher-navbar navbar navbar-expand-lg navbar-light bg-navbar-blue"
    [@scrollAnimation]="isHeader1Visible"
  >
    <div class="d-flex flex-column col-md-4 offset-md-1">
      <div class="cipher-type">
        <h5>{{ cipherType }}</h5>
      </div>
      <div class="cipher-name">
        <h3>{{ cipherName }}</h3>
      </div>
    </div>
  </div>
</div>
