<app-side-navbar [sideMenu]="sideMenu" [topGap]="topGap" class="d-block">
  <!-- <button mat-button (click)="sidenav.toggle()">Toggle</button> -->
  <div class="container">
    <div >
      <mat-card  class="col-md-12 info-mat-card">
        <mat-card-header>
          <mat-card-title>Description of cipher</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <div class="col-md-8 col-md-offset-2">
            <p>
              Monoalphabetic cipher is a substitution cipher, which the key is
              randomly arranged alphabet. For example, if 'B' is encrypted as
              'L', for any number of occurrence in that plaintext, 'B' will
              always get encrypted to 'L'.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <div class="col-md-12">
        <div class="row">
          <mat-card id="inputs" class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title
                >Generate random key for encryption</mat-card-title
              >
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              {{ rndKey }}
            </mat-card-content>
            <mat-card-actions>
              <button class="btn btn-sm btn-action" (click)="shuffleRndKey()">
                Generate
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <br />
        <div class="row">
          <mat-card class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title>Message</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <form [formGroup]="cipherInputsForm">
                <mat-form-field style="width: 50vw;">
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="9"
                    placeholder="Type message to encrypt"
                    name="messageInput"
                    formControlName="message"
                  ></textarea>
                  <mat-hint
                    >Please, enter message longer than 20 letters and text must
                    include letters a-z or A-Z.
                  </mat-hint>
                  <mat-error
                    *ngIf="
                      cipherInputsForm.get('message').hasError('minlength')
                    "
                  >
                    Please, enter message longer than 20 letters.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      cipherInputsForm.get('message').hasError('maxlength')
                    "
                  >
                    Please, enter message shorter than 2000 letters.
                  </mat-error>
                  <mat-error
                    *ngIf="cipherInputsForm.get('message').hasError('pattern')"
                  >
                    Please, text must include letters a-z or A-Z.
                  </mat-error>
                </mat-form-field>
                <p>
                  <br>
                  For remove accents and punctuation from text, you can use
                  <a
                  href="https://manulab.hcportal.eu/example/index.html"
                  target="_blank"
                  >ManuLab online</a
                > tool.
                </p>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button
                class="btn btn-sm btn-action"
                (click)="encryptEndDecryptMessage()"
              >
                Encrypt and Decrypt Message
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6 remove-left-marigns">
            <mat-card class="computed-mat-card">
              <mat-card-header>
                <mat-card-title>Encrypted Text</mat-card-title>
              </mat-card-header>
              <mat-card-content style="word-wrap: break-word;">
                {{ encryptedText }}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 remove-right-marigns">
            <mat-card class="computed-mat-card">
              <mat-card-header>
                <mat-card-title>Dencrypted Text</mat-card-title>
              </mat-card-header>
              <mat-card-content style="word-wrap: break-word;">
                <p>
                  {{ decryptedText }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <br />
    </div>
    <div class="">
      <div class="">
        <mat-card  id="findKey" class="info-mat-card col-md-12">
          <mat-card-header>
            <mat-card-title
              >Find decryption key with Hill Climbing alghorithm</mat-card-title
            >
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <p>
              Monoalphabetic cipher has to much combinations of key. We can't
              use a brute force attack, but meta-heuristic algorithm can be
              useful.
            </p>
            We use Hill Climbing alghorithm, which consists of these steps:
            <ul style="list-style-type: disc;">
              <li>
                swap 2 letters of key and compute freguencies of bigrams
              </li>
              <li>
                calculate difference between calculated frequencies of bigrams
                and referal values for English alphabet
              </li>
              <li>save only better result</li>
              <li>
                if we got better result then in next step we use this key from
                better result.
              </li>
            </ul>
            <p>These steps we repeat for n times/number iterations.</p>

            <p>
              You can set the number of iterations in the tab below and the
              number of attempts. The number of attempts represents which times
              this whole Hill climbing will run.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <br />
      <div class="">
        <mat-card id="attack" class="col-md-12 action-mat-card">
          <mat-card-header>
            <mat-card-title>Custom and run attack</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            We generate random key for Hill Climbing
            <p>
              <b>We generate random key {{ rndKey }}</b> <br />
              <b>We try to find key {{ keys.decKey }}</b>
            </p>
            <br />
            <form [formGroup]="cipherAttemptForm">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Set number of attempts"
                  name="attemptInput"
                  formControlName="numberOfAttempt"
                  min="1"
                  max="10"
                />
                <mat-hint>Please, enter number from 1 to 10. </mat-hint>
                <mat-error
                  *ngIf="
                    cipherAttemptForm.get('numberOfAttempt').hasError('max') ||
                    cipherAttemptForm.get('numberOfAttempt').hasError('min')
                  "
                >
                  Please, enter number from 1 to 10.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Set number of iterations"
                  name="iterationsInput"
                  formControlName="numberOfIterations"
                  min="100"
                  max="10000"
                />
                <mat-hint>Please, enter number from 100 to 10 000. </mat-hint>
                <mat-error
                  *ngIf="
                    cipherAttemptForm
                      .get('numberOfIterations')
                      .hasError('max') ||
                    cipherAttemptForm.get('numberOfIterations').hasError('min')
                  "
                >
                  Please, enter number from 100 to 10 000.
                </mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-sm btn-action" (click)="calcDataForPage()">
              Run the attack
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br />

      <div
        class=""
        *ngIf="theBestGuess"
        [ngClass]="{ hide: !calcDone, show: calcDone }"
      >
        <mat-card class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>The best finded key</mat-card-title>
            <mat-card-subtitle> {{ theBestGuess.key }} </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <p>{{ theBestGuess.decryptedText | slice: 0:150 }}</p>
            <h5>Sum {{ theBestGuess.sum | number: "1.0-3" }} *</h5>
            <p>
              <small>
                *difference between calculated frequencies and referal values
                for English alphabet)
              </small>
            </p>
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </div>

    <div [ngClass]="{ hide: !calcDone, show: calcDone }" class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <mat-card class="computed-mat-card">
            <mat-card-header>
              <mat-card-title
                >Evolution of sum and match rate during iterations, only for the
                best guess
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              We can evalute this results with Match rate and Sum. 
              <p> <b>The Match rate</b> is
                how much letters from decrypted text match with letters from input
                message. For example the input message is "abcd". With some guess
                key decrypted message is "abhg". Between these strings only two
                letters out of four match, so Match rate is 0,5.
              </p>
              <p>
                <b>The sum </b>is the difference between calculated frequencies (the frequency for every letter separately) and referral values
                for English alphabet.
              </p>

              <br /><br />

              <app-table
                [columnNames]="columnsBestResults"
                [stickyColumns]="stickyColumns"
                [dataSource]="dataSourceBestResults"
                [defaultSort]="sortBestResults"
                [ready]="dataSourceBestResultsReady"
              >
              </app-table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <br />
    <div
      [ngClass]="{ hide: !calcDone, show: calcDone }"
      class="row"
     
    >
      <div class="col-md-12 col-xs-12">
        <mat-card  id="compareBigrams" class="computed-mat-card">
          <mat-card-header>
            <mat-card-title>
              Comparsion of score and match rate by iterations
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            On the graph we can see, that Match rate during iterations increase and sum decrease.
            <p>The last iteration is also important. It is iterations when we find out the best solution. With this information we can set up the algorithm more precisely.</p>
            
            <app-graph
              #iterScoreGraph
              [chartOptionsFreqGraph]="chartOptionsIterScoreGraph"
              [data]="dataSourceiterScoreGraph"
            ></app-graph>
          </mat-card-content>
        </mat-card>

        <br>
        
        <mat-card id="increaseDecMatchRate" class="computed-mat-card">
          <mat-card-header>
            <mat-card-title>
              Increase/Decrease of Match rate during iterations
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            On the graph we can see, increase or decrease of the Match rate during iterations. The value represents an increase/decrease of Match rate (in percentage) compare to previous better guess/step.
            <p>The last iteration is also important. It is iterations, when we find out the best solution. With this information we can set up the algorithm more precisely.</p>
            
            <app-graph
              #matchRateIncrease
              [chartOptionsFreqGraph]="chartOptionsMatchRateIncreaseGraph"
              [data]="dataSourceMatchRateIncreaseGraph"
            ></app-graph>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="">
      <div class="">
        <mat-card  
          class="text-center col-md-12"
          [ngClass]="{ hide: calcDone, show: !calcDone }"
        >
          <mat-card-content>
            <h5>Please wait, after calculation ends</h5>
            <br />
            <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
            </mat-progress-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <br />
</app-side-navbar>
