<app-side-navbar [sideMenu]="sideMenu" [topGap]="topGap" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word;">
        <div class="">
          The Vigenere Cipher is a method of encrypting alphabetic text by using
          a series of Caesar ciphers, based on the letters of a keyword. In a
          Caesar cipher, each letter of the alphabet is shifted by several
          places.
          <p>
            For example, in a Caesar cipher with shift 3, „A“ would become „D“,
            „B“ would become „E“, „Y“ would become „B“ and so on. The Vigenere
            cipher uses several Caesar ciphers in sequence with different shift
            values.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="col-md-12">
      <br />
      <div class="row">
        <mat-card id="inputs" class="col-md-12 action-mat-card">
          <mat-card-header>
            <mat-card-title>Fill out Key and Message</mat-card-title>
          </mat-card-header>

          <mat-card-content style="word-wrap: break-word;">
            <form [formGroup]="cipherInputsForm" (ngSubmit)="calcDataForPage()">
              <mat-form-field class="col-md-4">
                <input
                  matInput
                  type="text"
                  placeholder="Set key"
                  name="keyInput"
                  formControlName="key"
                  maxlength="15"
                />
                <mat-hint
                  >Please, enter key of length 2 to 15 and key must include
                  letters a-z or A-Z.
                </mat-hint>
                <br />
                <mat-hint *ngIf="cipherInputsForm.get('key').value.length > 3">
                  <span class="mat-error"
                    >You enter key bigger than 3, the section with guess of
                    original message will be inactive.</span
                  >
                </mat-hint>

                <mat-error
                  *ngIf="
                    cipherInputsForm.get('key').hasError('maxlength') ||
                    cipherInputsForm.get('key').hasError('minlength')
                  "
                >
                  Please, enter key of length 2 to 3.
                </mat-error>
                <mat-error
                  *ngIf="cipherInputsForm.get('key').hasError('pattern')"
                >
                  Please, text must include letters a-z or A-Z.
                </mat-error>
              </mat-form-field>

              <br />
              <br />
              <br />

              <mat-form-field style="width: 50vw;">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="9"
                  placeholder="Type message in English language"
                  name="messageInput"
                  formControlName="message"
                  maxlength="2000"
                ></textarea>
                <mat-hint
                  >Please, enter message longer than 20 letters and text must
                  include letters a-z or A-Z.
                </mat-hint>
                <mat-error
                  *ngIf="cipherInputsForm.get('message').hasError('minlength')"
                >
                  Please, enter message longer than 20 letters.
                </mat-error>
                <mat-error
                  *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
                >
                  Please, enter message shorter than 2000 letters.
                </mat-error>
                <mat-error
                  *ngIf="cipherInputsForm.get('message').hasError('pattern')"
                >
                  Please, text must include letters a-z or A-Z.
                </mat-error>
              </mat-form-field>
              <p>
                <br>
                For remove accents and punctuation from text, you can use
                <a
                  href="https://manulab.hcportal.eu/example/index.html"
                  target="_blank"
                  >HcPortal app</a
                >.
              </p>
            </form>
          </mat-card-content>

          <mat-card-actions>
            <button
              (click)="calcDataForPage()"
              [disabled]="!cipherInputsForm.valid"
              class="btn btn-sm btn-action"
              color="primary"
              type="submit"
            >
            En/Decrypt Text & Run the attack
            </button></mat-card-actions
          >
        </mat-card>
      </div>

      <br />
      <div class="row">
        <mat-card class="col-md-12 info-mat-card">
          <mat-card-header>
            <mat-card-title>Colored shifts</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div>
              In tab "Encrypted Text" we highlight with the same color letters
              which have the same shift.
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br />

      <div class="row">
        <div class="col-md-6 remove-left-marigns">
          <mat-card class="computed-mat-card">
            <mat-card-header>
              <mat-card-title>Encrypted Text</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <span
                *ngFor="let letter of encMessageSplitted; let i = index"
                [style.color]="colors[i % keyLength]"
              >
                {{ letter }}
              </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 remove-right-marigns">
          <mat-card class="computed-mat-card">
            <mat-card-header>
              <mat-card-title>Dencrypted Text</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <p>
                {{ decryptedText }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <br />
      <div class="row">
        <mat-card id="alghorithm" class="col-md-12 info-mat-card">
          <mat-card-header>
            <mat-card-title>Alghorithm to find length of key</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div class="col-md-8 col-md-offset-2">
              We try find length of key with Friedman test.
              <p>Basically, Friedman test is when we separate text into boxes, number of boxes is length of key.
                For example when we have key of length 3 boxe, in first box will
                be first letter from encrypted text(CT), in second box second
                letter form CT, in third box third letter of CT. Then we repeat
                and in first box will be fourth letter of CT, in second box will
                be fifth letter and so on.
              </p>
              Then we compute the frequency of every box and Index Coincidence(IC). 
              For boxes we compute the average of ICs. We repeat these steps and we compute average 
              ICs for the key of length <2,16> In this example we expect that text is in the English language.
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <br />
      <div class="row">
        <mat-card id="findkey" class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>Show IC for different length of key</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div class="col-md-12">
              <div class="alert computed-box" role="alert">
                <span>The best lengths of key are: </span>
                <ol>
                  <li *ngFor="let index of highestIC">
                    <span>Length of {{ index.box }} </span>
                    <span>with IC {{ index.value | number: "1.0-4" }}</span>
                  </li>
                </ol>
              </div>
            </div>
            <br />

            <app-polyalph-boxes-component
              [allBoxesAvgIc]="allBoxesAvgIc"
              [ic]="ic"
              [allBoxes]="allBoxes"
              [allBoxesIc]="allBoxesIc"
              [toggleOptions]="toggleOptions"
            ></app-polyalph-boxes-component>
          </mat-card-content>
        </mat-card>
      </div>

      <br />

      <div class="row">
        <mat-card id="attack" class="col-md-12 info-mat-card">
          <mat-card-header>
            <mat-card-title>Description of attack</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div>
              We try to decrypt message and find out the key of encrypted message. 
              We use the guess of length from the previous step. 
              We decrypt message for all combination and we calculate a score for this message.
              The score function is calculated as differences between frequencies of letters (decrypted message) and referral values of the English language.
              Finally, the score function sum these differences and this is the score for one key.
              We expect that the lowest score determines the key, which we are looking for. The frequencies of the correct message will be similar to referral values.
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <br />

      <div class="row">
        <mat-card id="allcombinations" class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>Compute all combinations for key</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div class="col-md-12">
              We do it only for key of length <2,3> because we compute all possibilities on client
              computer. Key of length has 26<sup>3</sup> = 17,576‬ possible keys, but key
              of length 4 has 26^4 has 456 976 keys.
              <br />
              <br />
              <div *ngIf="calcDonee !== 3; else elseBlock">
                <app-table
                  [ngClass]="{ hide: !calcDonee, show: calcDonee }"
                  [columnNames]="columnsBestResults"
                  [stickyColumns]="stickyColumns"
                  [dataSource]="dataSourceBestResults"
                  [defaultSort]="sortBestResults"
                  [ready]="dataSourceBestResultsReady"
                >
                </app-table>

                <div
                  [ngClass]="{ hide: calcDonee, show: !calcDonee }"
                  class="text-center"
                >
                  <h5>Please wait, after calculation ends</h5>
                  <br />
                  <mat-progress-spinner
                    class="spinner"
                    [mode]="'indeterminate'"
                  >
                  </mat-progress-spinner>
                </div>
              </div>
              <ng-template #elseBlock>
                <h5 class="btn-action">
                  Data will be computed only for key of length smaller than 4
                </h5></ng-template
              >
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br />
    </div>
  </div>
  <br />
</app-side-navbar>
