<div class="col-md-10 offset-md-1 mode-down">
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This website was created as a practical part of the thesis. This thesis has the educational meaning. 
        We implemented attacks on classical historical ciphers. 
        Brute force attack on Ceasar cipher, attack on Vigenere cipher with the statistics of language, solving of the monoalphabetic cipher by using a Hill climbing. 
        The important part of this thesis are graphical representations of attacks. An effectivity and a speed are not important.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>The legend for pages</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      The cards are distinguished by the color of the left border or the background.          
        <br>
        <br>

        <mat-card class=" col-md-5 info-mat-card">
            <mat-card-header>
              <mat-card-title>Info text</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                There you can find a theory about a cipher, how the algorithm works, ...
              </p>
            </mat-card-content>
          </mat-card>

          <br>

          <mat-card class="col-md-5 action-mat-card">
            <mat-card-header>
              <mat-card-title>Action card</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                In this card, you can do some action like start the calculation, set up algorithm parameters, ...
              </p>
            </mat-card-content>
          </mat-card>
          
          <br>

          <mat-card class="col-md-5 computed-mat-card">
            <mat-card-header>
              <mat-card-title>Computed data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                In this card you can see the computed data which is used for cracking the cipher.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-card-content>
  </mat-card>
</div>
