<div class="col-md-10 offset-md-1 mode-down">
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The website was created as a practical part of the thesis. This thesis has an educational meaning. 
        We implemented attacks on classical historical ciphers. 
        Brute force attack to Caesar cipher, attack to Vigenere cipher with statistics of language, solving of monoalphabetic cipher using Hill Climbing algorithm. 
        The important part of this thesis is a graphic representation of attack. Effectivity and speed are not important.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>The legend for pages</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      The cards are distinguished by the color of the left border or background.          
        <br>
        <br>

        <mat-card class=" col-md-5 info-mat-card">
            <mat-card-header>
              <mat-card-title>Info text</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                There you can find the theory about cipher, how the algorithm works, ...
              </p>
            </mat-card-content>
          </mat-card>

          <br>

          <mat-card class="col-md-5 action-mat-card">
            <mat-card-header>
              <mat-card-title>Action card</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                In this card, you can do some action, start the calculation, set up parameters of the algorithm, ...
              </p>
            </mat-card-content>
          </mat-card>
          
          <br>

          <mat-card class="col-md-5 computed-mat-card">
            <mat-card-header>
              <mat-card-title>Computed data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                In this card you find computed data which brings us to crack the cipher.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-card-content>
  </mat-card>
</div>
