<div class="col-md-10 offset-md-1 mode-down">
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The website was created as pracital part of thesis. This thesis has a
        educational meaning. We implemented attacks to classical historical
        ciphers. Brute force attack to Caesar cipher, attack to Vigenere cipher
        with statistics of language, solving of monoalphabetic cipher using Hill
        Climbing alghorithm. The important part of this thesis is graphic
        representation of attack. The effectuivity and speed is not to
        important.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="offset-md-1 col-md-10 card">
    <mat-card-header>
      <mat-card-title>The legend for pages</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        The card are distinguished by color of left border.
          
        <br>
        <br>

        <mat-card class=" col-md-5 info-mat-card">
            <mat-card-header>
              <mat-card-title>Info text</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               There you can find thery about cipher, how alghorithm works, ...
              </p>
            </mat-card-content>
          </mat-card>

          <br>

          <mat-card class="col-md-5 action-mat-card">
            <mat-card-header>
              <mat-card-title>Action card</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               In this card you can do some action, start calculation, set up paramaters of alghorithm, ...
              </p>
            </mat-card-content>
          </mat-card>
          
          <br>

          <mat-card class="col-md-5 computed-mat-card">
            <mat-card-header>
              <mat-card-title>Computed data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               In this card you find computed data which brings us to crack cirpher.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-card-content>
  </mat-card>
</div>
