<div class="col-md-10 offset-md-1 mode-down">
  <div class="container">
    <div class="row">
      <mat-card class="offset-md-1 col-md-4 card">
        <mat-card-header>
          <div mat-card-avatar><img src="assets/icons/bruteforce.svg" /></div>
          <mat-card-title>Caesar cipher</mat-card-title>
          <mat-card-subtitle>Brute force attack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ceasar cipher replaces every letter in a message with a different letter. 
            You can set up a message and shift.
            At first step of our attack on this cipher, we try to find the shift by the text analysis. 
            Then we make the brute force attack to find a decrypted message.
            We use the index of coincidence and frequencies of decrypted text to evaluate the correctness of the decrypted message.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/caesarcipher">Learn More</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="offset-md-1 col-md-4 card">
        <mat-card-header>
          <div mat-card-avatar><img src="assets/icons/climbing.svg" /></div>
          <mat-card-title>Simple Substitution cipher</mat-card-title>
          <mat-card-subtitle>Hill climbing attack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Simple Substitution cipher substitutes every plaintext character for a different ciphertext character. 
            It differs from the Ceasar cipher is that the cipher alphabet/key is completely jumbled.
            We try to find a key, with the Hill climbing algorithm.
            You can set up a configuration of the algorithm and then see results.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/monoalphcipher">Learn More</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="offset-md-1 col-md-4 card">
        <mat-card-header>
          <div mat-card-avatar><img src="assets/icons/statistics.svg" /></div>
          <mat-card-title>Vigenere cipher</mat-card-title>
          <mat-card-subtitle>Statistic analysis attack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Vigenere cipher uses a series of Caesar ciphers, based on the letters of a keyword. 
            We try to find a key with the text analysis. 
            We use the index of coincidence and frequencies of letters.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/polyalphcipher">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <br />
</div>
